<!-- =========================
           HOME SECTION       
        ============================== -->
<div id="home-div-full" class="container-fluid">
    <!-- TOP BAR -->
    <div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header responsive-logo">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="home" class="navbar-brand">
                    <h2>MUABAN.CZ</h2>
                </a>
            </div>
            <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
                    <li><a href="" ng-click="changeLang('vn')">Tiếng Việt</a></li>
                    <li><a href="" ng-click="changeLang('cz')">Česky</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- / END TOP BAR -->

    <!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
    <div class="container" id="intro">
        <div ui-view id="home-group">

            <!-- CALL TO ACTION BUTTONS -->
            <div class="buttons" id="buttons">
                <a ui-sref="main.buy" class="btn btn-lg btn-primary custom-button red-btn"><h1>{{'BUY' | translate}}</h1></a>
                <a ui-sref="home.sell" class="btn btn-lg btn-primary custom-button green-btn" data-l10n-id="sell"><h1>{{'SELL' | translate}}</h1></a>
            </div>
            <!-- HEADING -->
            <h2 class="intro" id="introText">{{'INTROSLOGAN' | translate}}</h2>
            <h3 class="white-text"><i class="fa fa-phone"></i>&nbsp;{{'Hotline' | translate}}:&nbsp;725 637 243</h3> 
        </div>

    </div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->
</div>