<div class="buttons">
    <a ui-sref="main.quicksell" class="btn btn-lg btn-primary custom-button red-btn"><h3>{{'QUICKSELL' | translate}}</h3></a>
    <a ui-sref="home.login" class="btn btn-lg btn-primary custom-button green-btn"><h3>{{'LOGIN' | translate}}</h3></a>
    <a ui-sref="home.register" class="btn btn-lg btn-primary custom-button blue-btn"><h3>{{'REGISTER' | translate}}</h3></a>
</div>
<h2 class="intro" id="introText">{{'INTROSLOGAN' | translate}}</h2>
<h3 class="white-text"><i class="fa fa-phone"></i>&nbsp;{{'Hotline' | translate}}:&nbsp;725 637 243</h3>