<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-8">
            <div class="section-header">
                <!-- SECTION TITLE -->
                <h3 class="dark-text">{{'ProductDetail' | translate}}</h3>
            </div>
            <!-- HOMEPAGE PORTFOLIO SECTION WILL LOAD CONTENTS FROM HERE -->
            <div class="single-project">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="row" ng-repeat="row in imagePrev" ng-class="{'hidden-xs': $index > 0}" ng-show="row.length > 0">
                            <div class="col-xs-4 col-md-4" ng-repeat="thumb in row" ng-if="thumb">
                                <a href="{{'uploads/fullsize/'+goodID+'/'+thumb.title}}" rel="gallery" title="{{thumb.title}}" class="thumbnail fancybox">
                                    <img ng-src="{{'uploads/thumbnails/'+goodID+'/'+thumb.title}}" alt="{{thumb.title}}">
                                </a>
                            </div>
                        </div>
                        <p ng-hide="imagePrev.length > 0" class="red-text center">{{'NoImages' | translate}}</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h3 class="dark-text">{{good.title}}</h3>
                        <div class="project-description">
                            {{good.description}}
                        </div>
                        <div class="project-information">
                            <ul>
                                <li><span class="dark-text">{{'Price' | translate}}:&nbsp;</span>&nbsp;{{good.price}}&nbsp;Kč</li>
                                <li><span class="dark-text">{{'Count' | translate}}:&nbsp;</span>&nbsp;{{good.count}}</li>
                                <li><span class="dark-text">{{'Category' | translate}}:&nbsp;</span>&nbsp;{{good.category}}</li>
                                <li><span class="dark-text">{{'Subcategory' | translate}}:&nbsp;</span>&nbsp;<span ng-show="good.subcategory">{{good.subcategory}}</span><span ng-hide="good.subcategory">{{'UnavailableSubCat' | translate}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF SINGLE PROJECT -->

        </div>
        <div class="col-sm-4">
            <div class="feedback-box">
                <h3>Reklama</h3>
                <br>
                <div class="message">
                    “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
                </div>
                <div class="client">
                    <div class="quote blue-text">
                        <i class="icon-fontawesome-webfont-294"></i>
                    </div>
                    <div class="client-info">
                        <a class="client-name" href="">Keith McCarthy</a>
                        <div class="client-company">
                            Manager, XYZ Inc.
                        </div>
                    </div>
                    <div class="client-image hidden-xs">
                        <img src="images/clients-pic/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <hr>
            <div class="feedback-box">
                <h3>Reklama</h3>
                <br>
                <div class="message">
                    “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
                </div>
                <div class="client">
                    <div class="quote blue-text">
                        <i class="icon-fontawesome-webfont-294"></i>
                    </div>
                    <div class="client-info">
                        <a class="client-name" href="">Keith McCarthy</a>
                        <div class="client-company">
                            Manager, XYZ Inc.
                        </div>
                    </div>
                    <div class="client-image hidden-xs">
                        <img src="images/clients-pic/1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>